@media (max-width: 757px) {
	.menu-c {
		list-style: none;
		font-size: 25px;
	}

}

@media (min-width: 758px) {
	#header {
		flex-direction: row;
	}
	.menu-c li {
		display: inline-block;
	}
}
tr:nth-child(2n) {
	background: #22c1c3;
	color: #fff;
}

tr:nth-child(2n-1) {
	background: #c6d5ac;
	color: #fff;
}
a {
	text-decoration: none;
	color: white;
}
